<?xml version="1.0" encoding="UTF-8"?>
<extension>
  <information>
    <name>Painel Kindle</name>
    <version>1.0</version>
    <author>colaboradores do kindle-dashboard</author>
    <id>kindle-dashboard</id>
  </information>
  <menus>
    <menu type="json" dynamic="true">menu.json</menu>
  </menus>
</extension>
