<?xml version="1.0" encoding="UTF-8"?>
<extension>
  <information>
    <name>Kindle Dashboard</name>
    <version>1.0</version>
    <author>kindle-dashboard contributors</author>
    <id>kindle-dashboard</id>
  </information>
  <menus>
    <menu type="json" dynamic="true">menu.json</menu>
  </menus>
</extension>
